.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.title {
  margin-bottom: 20px;
  font-weight: 200;
  color: var(--textSoft);
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}

.heading {
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.items {
  text-align: center;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.status {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: white;
  width: 20px;
}

.pending {
  background-color: rgb(220, 141, 80);
  color: black;
}

.done {
  background-color: rgb(80, 220, 99);
  color: black;
}

.cancelled {
  background-color: rgb(220, 80, 80);
  color: black;
}

/* Customize carousel item */
.carouselItem {
  margin: 10px 0;
}
